#####################################################################
#   print_start macro
#####################################################################

[gcode_macro PRINT_START]
gcode:
   UPDATE_DELAYED_GCODE ID=nevermore_off DURATION=0 ; Cancel any pending Nevermore fan shutdown
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
#  {% set target_chamber = params.CHAMBER|default("40")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # Homes the printer, sets absolute positioning and updates the Stealthburner leds.
  #STATUS_HOMING         # Sets SB-leds to homing-mode
  G28                   # Full home (XYZ)
  G90                   # Absolut position

  ##  Uncomment for bed mesh (1 of 2)
  BED_MESH_CLEAR       # Clears old saved bed mesh (if any)

  # Checks if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if params.BED|int > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    #STATUS_HEATING                                      # Sets SB-leds to heating-mode
    M106 S255                                           # Turns on the PT-fan

    ##  Uncomment if you have a Nevermore.
    SET_PIN pin=Nevermore VALUE=1                       # Turns on the nevermore
    G1 X{x_wait} Y{y_wait} Z15 F7000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
    SET_DISPLAY_TEXT MSG="Soak for 5min"                # Displays info
    G4 P300000                                          # Waits 5 min for the bedtemp to stabilize
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Displays info
  #  TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber to reach desired temp

  # If the bed temp is not over 90c, then it skips the heatsoak and just heats up to set temp with a 5min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Displays info
    #STATUS_HEATING                                      # Sets SB-leds to heating-mode
    G1 X{x_wait} Y{y_wait} Z15 F7000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
    
  {% endif %}

  # Heating nozzle to 150 degrees. This helps with getting a correct Z-home
  SET_DISPLAY_TEXT MSG="Hotend: 145c"          # Displays info
  M109 S145                                    # Heats the nozzle to 150c

 CLEAN_NOZZLE                                  # Cleans nozzle prior to "QGL"
 
  ##  Uncomment for V2 (Quad gantry level AKA QGL)
  SET_DISPLAY_TEXT MSG="QGL"      # Displays info
  #STATUS_LEVELING                 # Sets SB-leds to leveling-mode
  quad_gantry_level               # Levels the buildplate via QGL
  G28 Z                           # Homes Z again after QGL


  ##  Uncomment for bed mesh (2 of 2)
  SET_DISPLAY_TEXT MSG="Bed mesh"    # Displays info
  #STATUS_MESHING                     # Sets SB-leds to bed mesh-mode
  bed_mesh_calibrate                 # Starts bed mesh

  # Heats up the nozzle up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"             # Displays info
  #STATUS_HEATING                                                # Sets SB-leds to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F7000                              # Goes to center of the bed
  M107                                                          # Turns off partcooling fan
  M109 S{target_extruder}                                       # Heats the nozzle to printing temp

  # Gets ready to print by doing a purge line and updating the SB-leds
  SET_DISPLAY_TEXT MSG="Printer goes brr"          # Displays info
  #STATUS_PRINTING                                  # Sets SB-leds to printing-mode
  LINE_PURGE                                       # KAMP Line Purge

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
description: End print and tidy up (retract filament, move toolhead, turn off heaters)
gcode:
    {% set STAY_HOT = params.STAY_HOT|default(0)|int %}   # STAY_HOT=1 to keep heaters primed for more printing

    STATUS_BUSY
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F2750                ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 10) %}
        {% set y_safe = 10 %}
    {% else %}
        {% set y_safe = -10 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 40) %}
        {% set z_safe = 40.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing

    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X{max_x / 2} Y{max_y - 0} F3600 ; park nozzle near rear
    M117 Print Complete.

    {% if STAY_HOT != 1 %}
        M118                       ;Disabling heaters
        TURN_OFF_HEATERS               
        M84                        ; disable steppers
    {% else %}
        M118                       ;Keeping printer hot for more printing...
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=150 ; set nozzle temp for standy-by for probing
    {% endif %}

    {% if printer.configfile.config["bed_mesh"] %}
	BED_MESH_CLEAR
    {% endif %}

    END_PRINT_EXHAUST FILAMENT_TYPE={printer["gcode_macro END_PRINT_EXHAUST"].filament_type}
    UPDATE_DELAYED_GCODE ID=nevermore_off DURATION=300 ; Schedule Nevermore fan off after 300 seconds (5 minutes)

    

[gcode_macro END_PRINT_EXHAUST]
description: Run exhaust fan for 3 minutes after printing ABS, ASA, or Nylon
variable_filament_type: "UNKNOWN"
gcode:
  {% set filament = params.FILAMENT_TYPE|default("UNKNOWN")|upper %}
  SET_GCODE_VARIABLE MACRO=END_PRINT_EXHAUST VARIABLE=filament_type VALUE="'{filament}'"
  {% if filament in ["ABS", "ASA", "NYLON"] %}
    M117 Activating exhaust fan for 3 minutes
    SET_FAN_SPEED FAN=exhaust_fan SPEED=1.0
    G4 P180000
    SET_FAN_SPEED FAN=exhaust_fan SPEED=0.0
  {% else %}
    M117 No exhaust needed for {filament}
  {% endif %}

  

#[gcode_macro M141]
#gcode:
#    {% set s = params.S|default(0)|float %}
#    SET_TEMPERATURE_FAN_TARGET temperature_fan="chamber" target={s}

[gcode_shell_command shutdown]
command: sudo shutdown now
timeout: 2
verbose: false


[gcode_macro SET_PID]
description: Set PID values for the hotend based on target temperature
gcode:
    {% set target_temp = params.TEMP|float %}
    {% set profiles = printer["heater_pid_profiles"] %}
    {% set available_temps = profiles|keys|map('replace', 'pid_', '')|map('float')|list %}
    
    # Manually find the closest temperature
    {% set min_diff = 999999 %}
    {% set closest_temp = None %}
    {% for temp in available_temps %}
        {% set diff = (temp - target_temp) | abs %}
        {% if diff < min_diff %}
            {% set min_diff = diff %}
            {% set closest_temp = temp %}
        {% endif %}
    {% endfor %}
    
    {% set pid_values = profiles["pid_" ~ closest_temp]|split(',') %}
    {% set kp = pid_values[0]|float %}
    {% set ki = pid_values[1]|float %}
    {% set kd = pid_values[2]|float %}
    M117 Applying PID for {closest_temp}°C: Kp={kp:.2f}, Ki={ki:.2f}, Kd={kd:.2f}
    SET_HEATER_PARAMETERS HEATER=extruder KP={kp} KI={ki} KD={kd}
    SET_GCODE_VARIABLE MACRO=SET_PID VARIABLE=current_pid VALUE="{{'temp': {closest_temp}, 'kp': {kp}, 'ki': {ki}, 'kd': {kd}}}"